@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list_data = ViewBag.DataServer != null ? (List<WebApplicationMVC.Models.Account.GetResponseData>)ViewBag.DataServer : new List<WebApplicationMVC.Models.Account.GetResponseData>();
}

<!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="form-group">
                    <label for="pwd">Address:</label>
                    <input type="text" class="form-control control-width" id="txtAdress" value="">
                    <a type="button" id="btnUpdate" class="btn btn-success"><i class="fa fa-save"></i> Tìm kiếm</a>
                </div>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>UserName</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (list_data != null && list_data.Count > 0)
                        {
                            foreach (var item in list_data)
                            {

                                <tr>
                                    <td>@item.name</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

<!-- /.content-wrapper -->