
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="btn btn-success" href="/Account/Edit">Thêm mới</a>
<div id="ListUserPartialView">
    
</div>

<script>
    $(document).ready(function () {
        debugger;
        LoadPartialView();


        $("#btnSave").click(function () {
            Login();
        });

    });

    function LoadPartialView() {

        var data_input = {
            Name: 'Quan'
        };

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/Account/ListUserPartialView",
            data: JSON.stringify(data_input),
            dataType: 'html',
            cache: false,
            success: function (result) {
                $("#ListUserPartialView").html(result);
            },
            error: function (e) {

                console.log("ERROR : ", e);

            }
        });

    }
    function Login() {

        var data_input = {
            UserName: $("#txtUserName").val(),
            Password: $("#txtPassword").val()
        };

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/Home/Login",
            data: JSON.stringify(data_input),
            dataType: 'json',
            cache: false,
            success: function (result) {
                alert(result.mes);
            },
            error: function (e) {

                console.log("ERROR : ", e);

            }
        });

    }
</script>

